<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ficha</title>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <div class="info-inicial">
        <h2>Jogador:</h2>
        <input type="text">
        <div class="adicionais">
          <h2>Origem:</h2>
          <input type="">
          <h2>Classe: </h2
          <input type="">
          <h2>NEX:</h2>
          <input type="">
          <h2>Patente:</h2>
          <input type="">>
        </div>
      </div>
      <img src="" alt="">
    </div>
    <div class="">

    </div>
  </div>
</body>
</html>