{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/register.css'%}">
  <title>register</title>
</head>
<body>
  <div class="wrapper">
    <form method="post" action="{% url 'register' %}">
      {% csrf_token %}
      <div class="box">
        <div>
          <p>Nome</p>
          <input type="text" name="nome" id="">
        </div>
        <div>
          <p>Sobrenome</p>
          <input type="text" name="sobrenome" id="">
        </div>
        <div>
          <p>Idade</p>
          <input type="number" name="idade" id="">
        </div>
        <div>
          <p>E-mail</p>
          <input type="email" name="email" id="">
        </div>
        <div>
          <p>Usuário</p>
          <input type="text" name="usuario" id="">
        </div>
        <div>
          <p>Senha</p>
          <input type="password" name="senha" id="">
        </div>
        <div>
          <p>Confirme sua senha</p>
          <input type="password" name="senha2" id="">
        </div>
        <button value="submit" type="submit">Criar conta</button>
      </div>
    </form>
  </div>
</body>
</html>