{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/register.css'%}">
  <title>register</title>
</head>
<body>
  <div class="wrapper">
    <form method="post" action="">
      <div class="box">
        <div>
          <p>nome</p>
          <input type="text" name="" id="">
        </div>
        <div>
          <p>sobrenome</p>
          <input type="text" name="" id="">
        </div>
        <div>
          <p>idade</p>
          <input type="text" name="" id="">
        </div>
        <div>
          <p>e-mail</p>
          <input type="text" name="" id="">
        </div>
        <div>
          <p>usuário</p>
          <input type="text" name="" id="">
        </div>
        <div>
          <p>senha</p>
          <input type="text" name="" id="">
        </div>
        <div>
          <p>confirme sua senha</p>
          <input type="text" name="" id="">
        </div>
        <button value="submit" type="submit">sbmeter</button>
      </div>
    </form>
  </div>
</body>
</html>