.alert-mensagem-success{
  background-color: #A4EF5A;
  padding: 2rem;
  border-radius: 3rem;
}
.alert-mensagem-success p{
  color: #0E8E37;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.alert-mensagem-danger{
  background-color: #E95555;
  padding: 2rem;
  border-radius: 3rem;
}
.alert-mensagem-danger p{
  color: black;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}


.alert-mensagem-warning{
  background-color: #E0E271;
  padding: 2rem;
  border-radius: 3rem;
}
.alert-mensagem-warning p{
  color: black;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}


.alert-mensagem-info{
  background-color: #DEDED9;;
  padding: 2rem;
  border-radius: 3rem;
}
.alert-mensagem-info p{
  color: black;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

