:root {
  --primary-color: hsl(139, 82%, 31%);
  --secondary-color: hsl(122, 72%, 42%);

  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);

  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(148, 23%, 89%);

  --backgound: hsla(192, 15%, 94%, 1);
  --rosa: #c2185b;
  --fonte-roxo: hsl(262, 47%, 55%);
  font-size: 62.5%;

  --nav-height: 7.2rem;
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
  font-size: 1.6rem;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(255,210,0,0.4), rgba(200, 160, 0, 0.1) 11%, rgba(0,0,0,0) 35%, rgba(200, 160, 0, 0.1) 65%);
  box-shadow: inset 0 0 75rem rgba(255,210,0,0.3), inset 0 0 20px rgba(255,210,0,0.4), inset 0 0 30px rgba(220,120,0,0.8);
  color: rgba(0,0,0,0.5);
}

input{
  background:none;
  border: none;
  border-bottom-color:black ;
  border-bottom-width: 100%;
  padding-left: 1rem;
}


.header{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.header .info-inicial{
  margin-left: 3%;
  width: 40%;
}

.header .info-inicial .nomes .celula{
  display: flex;
  width: 100%;
}

.header .info-inicial .nomes .celula input{
  width:100%;
}
.header .info-inicial h2{
  font-size: 2rem;
}

.header .info-inicial .adicionais{
  display: flex;
  flex-direction:row;
}

.header .info-inicial .adicionais .conjunto{
  width: 100%;
}

.header .info-inicial .adicionais .celula{
  display: flex;
  width: 100%;
}
.header .info-inicial .adicionais .celula input{
  display: flex;
  width: 100%;
}

.header img{
  width: 12%;
  margin-right: 3%;
}

@media only screen and (max-width: 900px) {
  .header .info-inicial{
    margin-left: 3%;
    width: 80%;
  }
  .header .info-inicial .adicionais{
    display: flex;
    flex-direction:column;
  }
}


.pericias {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  width: 100%;
  gap: 2.5rem;
}

.pericias h2{
  font-size: 4rem;
}

.pericias .box{
  display: grid;
  grid-template-columns:  1fr 1fr  1fr 1fr 1fr;
  gap: 2rem;
  padding-bottom: 5rem;
}

.pericias .box .pericia{
  display:flex;
  width: 100%;
  gap: 1rem;
}

.pericias .box .pericia input{
  width: 100%;
  min-width: 3rem;
  max-width: 5rem;
  text-align: center;
}

.pericias p {
  font-size: 2.5rem;
}


@media only screen and (max-width: 950px) {
  .pericias .box{
    grid-template-columns:  1fr 1fr  1fr 1fr;
  }
}

@media only screen and (max-width: 780px) {
  .pericias .box{
    grid-template-columns:  1fr 1fr  1fr;
  }
}

@media only screen and (max-width: 580px) {
  .pericias .box{
    grid-template-columns:  1fr 1fr;
  }
}


.estatos{
  display: flex;
  width: 100%;
  background-color: aqua;
}

.estatos .atributos{
  display: flex;
  width: 30%;
  min-width: 26rem;
  
  padding-left: 3%;
  background-color: #c2185b;
}

.estatos .atributos img{
  width: 100%;
}
.estatos .atributos input{
  position: relative;
  width: 7rem;
  height: 6rem;
  background-color: black;
  font-size: 5rem;
  text-align: center;
}

.estatos .atributos input:nth-child(2){
  top: 20%;
  left: -54%;
}
.estatos .atributos input:nth-child(3){
  top: -27rem;
  left: -19.8rem;
}
.estatos .atributos input:nth-child(4){
  top: -10.8rem;
  left: -32.5rem;
}

.estatos .atributos input:nth-child(5){
  top: -10.8rem;
  left: -58.5rem;
}

.estatos .atributos input:nth-child(6){
  top: -27rem;
  left: -70.8rem;
}
.estatos{
  display: flex;
}

