:root {
  --primary-color: hsl(170, 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);

  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(148, 23%, 89%);

  --backgound: hsla(192, 15%, 94%, 1);
  --rosa: #c2185b;
  --fonte-roxo: hsl(262, 47%, 55%);
  font-size: 62.5%;

  --nav-height: 7.2rem;
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;

  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}


textarea:focus, input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.back {
  position: absolute;
  width: 14.7rem;
  height: 1.9rem;
  top: 5rem;
  left: 5rem;
  gap: 0.4rem;
}

.back a {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  padding: 0.1rem;
}

.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0rem;
}

.info:nth-child(1){
  display: flex;
}

input{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 4rem;
  color: white;
  text-align: center;
}

.pergunta{
  max-width: 100rem;
  min-height: 28.267rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-top: auto;
}

p{
  font-family: 'Yan';
  font-weight: 500;
  font-size: 8rem;
  text-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 8rem;
  text-align: center;
  line-height: 6rem;
  padding-bottom: 5rem;
}

a{
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;  
  color: white;
  text-decoration: none;
  padding: none;
  margin: 0;
  height: 5.4rem;
}

#btn-conf,
#btn-back{
  display: none;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8rem;
}

.botoes{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  padding-bottom: 10rem;
}

.alerta-erro p{
  font-size: 8rem;
}

#btn-conf{
  background: none;
  border: 0rem;
  padding: 0rem;
  overflow: none;
  margin: 0rem;
  margin: 0;
  height: 5.4rem;
}

