:root {
  --primary-color: hsl(139, 82%, 31%);
  --secondary-color: hsl(122, 72%, 42%);

  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);

  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(148, 23%, 89%);

  --backgound: hsla(192, 15%, 94%, 1);
  --rosa: #c2185b;
  --fonte-roxo: hsl(262, 47%, 55%);
  font-size: 62.5%;

  --nav-height: 7.2rem;
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
  font-size: 1.6rem;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navebar{
  width: 100%;
  height: 5.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navebar a{
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  color: white;
  text-decoration: none;
  padding-left: 1.8rem;
  gap: 30rem;
}

.navebar a:nth-child(1){
  padding-left: 1.8rem;
}

.navebar .direita{
  padding-right: 1.8rem;
}

.logoo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.logoo img{
  max-width:45%;
}

.apresentacao{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.apresentacao h1{  padding-top: 2.5rem;
  font-family: 'Yan', 'Bebas Neue', sans-serif;
  text-shadow: -1.5rem 0.6rem 3rem #1EB824;
  color: white;
  /* font-size: 9.6rem; */
  font-size: 10vmin;
  font-weight: 500;
  letter-spacing: .4rem;
  margin-bottom: -5%;
}

.apresentacao h2{
  font-family: 'Yan', 'Bebas Neue', sans-serif;
  text-shadow: -1.5rem 0.6rem 3.8rem #1EB824;
  color: white;
  /* font-size: 4.5rem; */
  font-size: 5vmin;
  font-weight: 500;
  letter-spacing: .4rem;
  padding-bottom: 2rem;
}

.apresentacao-svg {
  /* width: 50rem; */
  width: 14%;
  padding-bottom: 5rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* padding-top: 10rem;
  padding-bottom: 0rem; */
  gap: 6.2rem;
}

@media only screen and (max-width: 800px) {
  .container .cards {
    flex-direction: column;
    gap: 2rem;
  }

  .container .cards .card{
    width: 60%;
  }

  .container .cards .card p{
    
  }
}

.container {
  padding-bottom: 10rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 42vmin;
  height: 50vmin;
  border-radius: 1rem;
  background-color: var(--primary-color);
  padding: 2rem;
  gap: 2rem;
  transform: skew(-6deg);
}

.card h2{
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  font-size: 5vmin;
}

.card p{
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  /* font-size: 1.4rem; */
  font-size: 1.7vmin;
}

.card-svg {
  width: 10vmin;
}